<!DOCTYPE html>
<html>

<head>
    <title>Indian Accent</title>
    <link rel="stylesheet" href="index.css">
    <style>
   h1 {
        display: table;
        margin: 10px auto;
        padding: 10px;
        font-size: 24px;
        background-color: #f4c90b;
        color: #110909;
      }
   
    </style>
</head>

<body>
    <h1>Welcome To Indian Accent</h1>
      <center><img src="Capture.JPG" alt="Alternate text" width = "200"></center>
    <div class="buttons">
        <a class="button" href="/signup">Sign up</a>
        <a class="button" href="/login">Log In</a>
        <a class="button" href="/loginp">Admin</a>
    </div>
</body>

</html>