<h2>Login</h2>

<form method="post" action="/loginp">
<div class="txtname">
  <label for="username">Username:</label>
  <input type="text" name="username" required>
  </div>
   <div class="txtpass">
  <label for="password">Password:</label>
  <input type="password" name="password" required>
  </div>

  <button type="submit">Login</button>
  </div>
</form>