/* General styles */

body {
  background-image: url(https://images.unsplash.com/photo-1601662528567-526cd06f6582?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1915&q=80);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin-top: 0;
}

/* Cart items */

.cart-item {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
}

.cart-item h2 {
  margin-bottom: 5px;
}

.cart-item p {
  margin: 0;
}

.cart-item p.price {
  font-weight: bold;
}

/* Checkout form */

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="add"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  
}

button {
  background-color: #3e8e41;
}

button[type="button cancel"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="button cancel"]:hover {
  background-color: #3e8e41;
}

.cancel-link {
  color: white;
  text-decoration: none;
}